.arrivals
	.arrivals__top
		p.arrivals__text New arrivals on FooseShoes
		.arrivals__btn show all
	.arrivals__content
		.arrivals__item.content-shoes1
			.arrivals__descriptional
				.descriptional__price $ 159.9
				.descriptional__name EvenOdd
				.descriptional__name-acitve
					.info-user-bar
						.bar__user-look
						.bar__user-star
						.bar__user-exit
						.bar__user-basket
		.arrivals__item.content-shoes1
			.arrivals__descriptional
				.descriptional__price $ 159.9
				.descriptional__name EvenOdd
				.descriptional__name-acitve
					.info-user-bar
						.bar__user-look
						.bar__user-star
						.bar__user-exit
						.bar__user-basket
		.arrivals__item.content-shoes1
			.arrivals__descriptional
				.descriptional__price $ 159.9
				.descriptional__name EvenOdd
				.descriptional__name-acitve
					.info-user-bar
						.bar__user-look
						.bar__user-star
						.bar__user-exit
						.bar__user-basket