.best
	.best__top
		p.best__text Best sellers of the month
		.best__btn show all
	.best__content
		.best__item.content-shoes1
			.best__descriptional
				.descriptional__price $ 159.9
				.descriptional__name EvenOdd
		.best__item.content-shoes1
			.arrivals__descriptional
				.descriptional__price $ 159.9
				.descriptional__name EvenOdd
		.best__item.content-shoes1
			.best__descriptional
				.descriptional__price $ 159.9
				.descriptional__name EvenOdd
