div.menu-background
	div.menu
		ul.menu__nav
			li Home
			li Products
			li About
			li Pages
			li Blog
			li Contact
		div.starsbasket
			div.stars
				div.stars__img
				div.stars__like 30
			div.starsbasket__line
			div.basket
				div.basket__img
				div.basket__like 0
