.news
	.news__freeshiping
		h3 free shipping
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore 
	.news__testimonials
		h3 testimonials
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore 
	.news__blognews
		h3 blog news
		.blognews__nice
			.nice__date APR 01
			.nice__text
				b Nice & clean. The best for you blog!
				p Vivamus metus turpis, bibendum vitae euismod vel, vulputate vel nibh. 
		.blognews__nice
			.nice__date APR 01
			.nice__text
				b Nice & clean. The best for you blog!
				p Vivamus metus turpis, bibendum vitae euismod vel, vulputate vel nibh. 
