.prefooter
	.widgets
		.widgets__text
			h3 text widgets
			p Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
		.widgets__twitter
			h3 widgets twitter
			p @ericafustero Why thank you. Your work looks awesome by the way! @treemelody
			p
				i 19 days ago
			p @ericafustero Why thank you. Your work looks awesome by the way! @treemelody
			p
				i 19 days ago
		.widgets__flicr
			h3 flicr widgets
			.flicr__icons
				.item__vine
				.item__house
				.item__detect
				.item__layer
				.item__robo
				.item__inscect
	.social
		.social__news
			input.newsletter
			button
		.social__btn
			img(src='../assets/img/facebook.png')
			img(src='../assets/img/twitter.png')
			img(src='../assets/img/g+.png')
			img(src='../assets/img/leakedin.png')
			img(src='../assets/img/flickr.png')