div.top
	div.slider
		ul.slider__images
			li.img.active
			li.img
			li.img
			li.img
			li.img
		div.slider__menu
			div.firstbtn.active
				div.firstbtn__bar.noborder
				div.firstbtn__text
					p.text--big Pink Shoes
					p.text--small Now at $145.99
			div.firstbtn
				div.firstbtn__bar
				div.firstbtn__text
					p.text--big Pink Shoes
					p.text--small Now at $145.99
			div.firstbtn
				div.firstbtn__bar
				div.firstbtn__text
					p.text--big Pink Shoes
					p.text--small Now at $145.99
			div.firstbtn
				div.firstbtn__bar
				div.firstbtn__text
					p.text--big Pink Shoes
					p.text--small Now at $145.99
			div.firstbtn
				div.firstbtn__bar
				div.firstbtn__text
					p.text--big Pink Shoes
					p.text--small Now at $145.99
