div.top
	div.slider
		ul.slider__images
			li.img.active
				.info
					.info__price $149.99
					p.info-big Pink shoes <br> 2017 collection
					br
					p.info-small Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					.info-user-bar
						.bar__user-look
						.bar__user-star
						.bar__user-exit
						.bar__user-basket
			li.img
			li.img
			li.img
			li.img
		div.slider__menu
			div.firstbtn.active
				div.firstbtn__bar.noborder
				div.firstbtn__text
					p.text--big Pink Shoes
					p.text--small Now at $145.99
			div.firstbtn
				div.firstbtn__bar
				div.firstbtn__text
					p.text--big Pink Shoes
					p.text--small Now at $145.99
			div.firstbtn
				div.firstbtn__bar
				div.firstbtn__text
					p.text--big Pink Shoes
					p.text--small Now at $145.99
			div.firstbtn
				div.firstbtn__bar
				div.firstbtn__text
					p.text--big Pink Shoes
					p.text--small Now at $145.99
			div.firstbtn
				div.firstbtn__bar
				div.firstbtn__text
					p.text--big Pink Shoes
					p.text--small Now at $145.99
