extends ../layouts/layout.pug

block site__content
	include ../includes/menu.pug
	include ../includes/top.pug
	include ../includes/specialize.pug
	.offer-content
		include ../includes/arrivals.pug
		include ../includes/best.pug
		include ../includes/news.pug