doctype html
html
	include ../includes/head.pug
	body.body
		include ../includes/header.pug
		.site__content
			block site__content
		include ../includes/footer.pug
		script(src='assets/js/scripts.min.js')