*
	margin 0
	padding 0
.background	
	width 100%
	background-color baseColor
.header
	display flex
	align-items center
	justify-content space-between
	background-color baseColor
	max-width 960px
	margin 0 auto
.header__logo
	width 156px
	height 20px
	margin 20px
	background url(../img/logo.png)
	background-size cover

.logsearch
	display flex
	align-items center
	color gray
.logsearch__search
	width 14px
	height 14px
	margin-right 10px
	background url(../img/search-icon.png)
	background-size cover
.logsearch__line
	height 60px
	margin 0 20px
	border-left 2px solid gray