.menu-background
	width 100%
	background-color white
.menu
	display flex
	align-items center
	justify-content space-between
	max-width 960px
	margin 0 auto

.menu__nav
	display flex
	list-style-type none
	align-items center
.menu__nav li	
	display flex
	align-items center
	height 60px
	padding 0 1.5em
	border-left 1px solid gray
.menu__nav li:last-child
	border-right 1px solid gray
	
.starsbasket
	display flex
	align-items center
	
.stars
	display flex
	align-items center
	justify-content center
	width 60px
.stars__img
	width 16px
	height 16px
	margin-right 5px
	background url(../img/Star-Icon.png)
.stars__like
	display flex
	align-items center
	justify-content center
	border-radius 4px
	padding 4px
	min-width 17px
	background-color gray
	text-align center
	margin auto
	color lightColor
	
.basket
	display flex
	align-items center
	justify-content center
	width 60px
.basket__img
	width 16px
	height 14px
	background url(../img/Cart-Icon.png)
.basket__like
	display flex
	align-items center
	justify-content center
	border-radius 4px
	padding 4px
	min-width 17px
	background-color #57c5a0
	text-align center
	margin auto
	color lightColor
	
.starsbasket__line
	height 60px
	margin 0 20px
	border-left 2px solid gray