.news
	display flex
	justify-content space-between
	width 100%
	max-width 960px
	border-top 1px solid gray
	margin 45px auto 25px
	padding-top 25px
	
.news__freeshiping
	width 220px
	height 180px
	background-color #dfdbd4
	h3
		text-transform uppercase
		margin 30px 0 15px 15px
	p
		margin 0 15px
	
.news__testimonials
	width 220px
	height 180px
	background-color #dfdbd4
	h3
		text-transform uppercase
		margin 30px 0 15px 15px
	p
		margin 0 15px
		
.news__blognews
	width 460px
	height 180px
	background-color #dfdbd4
	h3
		text-transform uppercase
		margin 30px 0 15px 15px
	
	.blognews__nice
		display flex
		justify-content space-between
		align-items center
		margin-left 15px
		margin-top 15px
		.nice__date
			align-self flex-start
			color lightColor
			text-align center
			font-size 0.75rem
			width 35px
			height 30px
			background-color #57c5a0
			padding-top 5px
		.nice__text
			margin 0 7px
			font-size 0.85rem