.arrivals,
.best {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 960px;
  margin: 0 auto;
}
.arrivals__top,
.best__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 30px 0;
}
.arrivals__btn,
.best__btn {
  cursor: pointer;
  width: 100px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border: 1px solid #808080;
}
.arrivals__content,
.best__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.descriptional__name-acitve {
  display: none;
}
.arrivals__item,
.best__item {
  position: relative;
  width: 300px;
  height: 270px;
  background-color: #fff;
}
.arrivals__item:hover .descriptional__name-acitve,
.best__item:hover .descriptional__name-acitve {
  display: block;
  margin-top: 10px;
  margin-left: 10px;
}
.arrivals__item:hover .descriptional__name,
.best__item:hover .descriptional__name {
  display: none;
}
.content-shoes1 {
  background: url("../img/shoes1.jpg") 0 0 no-repeat #fff;
  background-size: 40%;
  background-position: center center;
}
.arrivals__descriptional,
.best__descriptional {
  text-align: center;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #808080;
}
.arrivals__descriptional .descriptional__price,
.best__descriptional .descriptional__price {
  color: #fff;
  line-height: 75px;
  width: 65px;
  height: 65px;
  background-color: #57c5a0;
  margin-top: -10px;
  margin-left: 10px;
}
.arrivals__descriptional .descriptional__name,
.best__descriptional .descriptional__name {
  margin-left: 10px;
  line-height: 55px;
}
.menu-background {
  width: 100%;
  background-color: #fff;
}
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 960px;
  margin: 0 auto;
}
.menu__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu__nav li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  padding: 0 1.5em;
  border-left: 1px solid #808080;
}
.menu__nav li:last-child {
  border-right: 1px solid #808080;
}
.starsbasket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60px;
}
.stars__img {
  width: 16px;
  height: 16px;
  margin-right: 5px;
  background: url("../img/Star-Icon.png");
}
.stars__like {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
  padding: 4px;
  min-width: 17px;
  background-color: #808080;
  text-align: center;
  margin: auto;
  color: #fff;
}
.basket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60px;
}
.basket__img {
  width: 16px;
  height: 14px;
  background: url("../img/Cart-Icon.png");
}
.basket__like {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
  padding: 4px;
  min-width: 17px;
  background-color: #57c5a0;
  text-align: center;
  margin: auto;
  color: #fff;
}
.starsbasket__line {
  height: 60px;
  margin: 0 20px;
  border-left: 2px solid #808080;
}
.news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 960px;
  border-top: 1px solid #808080;
  margin: 45px auto 25px;
  padding-top: 25px;
}
.news__freeshiping {
  width: 220px;
  height: 180px;
  background-color: #dfdbd4;
}
.news__freeshiping h3 {
  text-transform: uppercase;
  margin: 30px 0 15px 15px;
}
.news__freeshiping p {
  margin: 0 15px;
}
.news__testimonials {
  width: 220px;
  height: 180px;
  background-color: #dfdbd4;
}
.news__testimonials h3 {
  text-transform: uppercase;
  margin: 30px 0 15px 15px;
}
.news__testimonials p {
  margin: 0 15px;
}
.news__blognews {
  width: 460px;
  height: 180px;
  background-color: #dfdbd4;
}
.news__blognews h3 {
  text-transform: uppercase;
  margin: 30px 0 15px 15px;
}
.news__blognews .blognews__nice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 15px;
  margin-top: 15px;
}
.news__blognews .blognews__nice .nice__date {
  -ms-flex-item-align: start;
      align-self: flex-start;
  color: #fff;
  text-align: center;
  font-size: 0.75rem;
  width: 35px;
  height: 30px;
  background-color: #57c5a0;
  padding-top: 5px;
}
.news__blognews .blognews__nice .nice__text {
  margin: 0 7px;
  font-size: 0.85rem;
}
.offer-content {
  width: 100%;
  background-color: #ebe7df;
}
.prefooter {
  width: 100%;
  background-color: #242424;
}
.widgets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 960px;
  margin: 0 auto;
  color: #fff;
}
.widgets .widgets__text,
.widgets .widgets__twitter,
.widgets .widgets__flicr {
  width: 250px;
}
.widgets .widgets__text h3,
.widgets .widgets__twitter h3,
.widgets .widgets__flicr h3 {
  text-transform: uppercase;
  margin: 50px 0 20px 0;
}
.widgets .widgets__text p,
.widgets .widgets__twitter p,
.widgets .widgets__flicr p {
  margin: 10px 0;
}
.widgets .flicr__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.widgets .flicr__icons .item__vine,
.widgets .flicr__icons .item__house,
.widgets .flicr__icons .item__detect,
.widgets .flicr__icons .item__layer,
.widgets .flicr__icons .item__robo,
.widgets .flicr__icons .item__inscect {
  width: 29%;
  height: 60px;
  margin: 9px 0;
  background: url("../img/vine.png") #808080;
}
.widgets .flicr__icons .item__vine:hover,
.widgets .flicr__icons .item__house:hover,
.widgets .flicr__icons .item__detect:hover,
.widgets .flicr__icons .item__layer:hover,
.widgets .flicr__icons .item__robo:hover,
.widgets .flicr__icons .item__inscect:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}
.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  max-width: 960px;
  border-top: 1px solid #808080;
}
.social .social__news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.social .social__news .newsletter {
  width: 210px;
  background-color: #2e2e2e;
  border: 0;
  margin: 40px 0 40px 40px;
}
.social .social__news button {
  margin: 40px 0;
  height: 40px;
  width: 40px;
  background-color: #7d7d7d;
  border: 0;
}
.social img {
  margin-left: 10px;
  width: 36px;
  height: 36px;
}
.social img:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}
.specialize {
  background-color: #242424;
}
.specialize__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  max-width: 960px;
}
.container {
  width: 300px;
  height: 180px;
  margin: 20px 0;
  text-align: center;
  line-height: 180px;
}
.special__onsale {
  background: url("../img/shoes.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
  -webkit-transition: background-position 1s;
  transition: background-position 1s;
}
.special__onsale:hover {
  background-position: top;
}
.special__offers {
  background: url("../img/specialoffer.jpg") center center no-repeat;
  background-size: cover;
  -webkit-transition: background-position 1s;
  transition: background-position 1s;
}
.special__offers:hover {
  background-position: top;
}
.special__musthave {
  background: url("../img/musthave.jpg") center center no-repeat;
  background-size: cover;
  -webkit-transition: background-position 1s;
  transition: background-position 1s;
}
.special__musthave:hover {
  background-position: top;
}
p.special__text {
  display: inline;
  text-transform: uppercase;
  font-size: 2rem;
  color: #fff;
  padding: 10px;
  background-color: rgba(0,0,0,0.7);
}
.top {
  height: 550px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.slider__images {
  list-style-type: none;
  overflow: hidden;
}
.slider {
  width: 100%;
}
.img {
  opacity: 0.1;
}
.img.active {
  position: relative;
  height: 460px;
  background: url("../img/img.jpg");
  background-position: center center;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  opacity: 1;
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
}
.slider__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 90px;
  width: 100%;
  background-color: #2e2e2e;
}
.firstbtn {
  height: 90px;
  width: 190px;
  color: #808080;
  cursor: pointer;
}
.firstbtn:hover {
  color: #fff;
}
.firstbtn:hover .firstbtn__bar {
  background-color: #57c5a0;
}
.firstbtn.active {
  color: #fff;
}
.firstbtn.active .firstbtn__bar {
  background-color: #57c5a0;
}
.firstbtn__bar.noborder {
  border-left: 0;
}
.firstbtn__bar {
  height: 10px;
  width: 100%;
  margin-top: 5px;
  background-color: #000;
  border-left: 2px solid #808080;
}
.firstbtn__text {
  margin-top: 20px;
  text-align: center;
}
.info {
  position: absolute;
  width: 350px;
  height: 350px;
  right: 15%;
  top: calc(50% - 175px);
}
.info__price {
  width: 80px;
  height: 80px;
  background-color: #57c5a0;
  text-align: center;
  font-size: 1rem;
  line-height: 80px;
  color: #fff;
  margin-bottom: 15px;
}
.info-big {
  font-size: 2rem;
}
.info-small {
  font-size: 1.5rem;
  margin-bottom: 20px;
}
.info-user-bar {
  cursor: pointer;
  width: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.bar__user-look {
  width: 40px;
  height: 40px;
  background: url("../img/look.png") center no-repeat #fff;
}
.bar__user-look:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}
.bar__user-star {
  width: 40px;
  height: 40px;
  background: url("../img/star.png") center no-repeat #fff;
}
.bar__user-star:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}
.bar__user-exit {
  width: 40px;
  height: 40px;
  background: url("../img/exit.png") center no-repeat #fff;
}
.bar__user-exit:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}
.bar__user-basket {
  width: 40px;
  height: 40px;
  background: url("../img/Cart-icon.png") center no-repeat #fff;
}
.bar__user-basket:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}
.footer {
  width: 100%;
  background-color: #2e2e2e;
}
.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 960px;
  margin: 0 auto;
}
.footer__content h4 {
  margin: 25px 0;
  color: #fff;
}
* {
  margin: 0;
  padding: 0;
}
.background {
  width: 100%;
  background-color: #242424;
}
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #242424;
  max-width: 960px;
  margin: 0 auto;
}
.header__logo {
  width: 156px;
  height: 20px;
  margin: 20px;
  background: url("../img/logo.png");
  background-size: cover;
}
.logsearch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #808080;
}
.logsearch__search {
  width: 14px;
  height: 14px;
  margin-right: 10px;
  background: url("../img/search-icon.png");
  background-size: cover;
}
.logsearch__line {
  height: 60px;
  margin: 0 20px;
  border-left: 2px solid #808080;
}
